.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  width: 360px;
  padding: 1em;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

img {
  width: 100%;
  object-fit: cover;
  height: 250px;
  vertical-align: middle;
}

.card-title,
.card-content {
  padding: 0.5em 0;
  font-size: 1.2rem;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1em;
  padding: 1em;
  margin-top: 64px;
}

.card-controls {
  display: flex;
  flex-direction: row;
  gap: 1em;
}